/*.........................................body.....................................*/

body{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 41, 41);
 
 }

/*........................................Laptop view.........................................*/

/*...........................................Navigation Bar.................................... */


 .navbar__dominos{
     width: 100%;
     background-color: #006491;
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     top:0;
     box-shadow:  0 0 20px 0 #000000;
 }
 
 .navbar__dominos .navbar__box{
     width: 80%;
     display: flex;
     justify-content: space-between;
 }

 .navbar__dominos .navbar__box .navbar__items__left{
     width: 70%;
     display: flex;
     justify-items: center;
     align-items: center;
     margin-right: 10px;
 }
 
 .navbar__dominos .navbar__items__right{
     width: 30%;
     display: flex;
     
 }

 .navbar__dominos .navbar__items__right .sign__in{
     display: inline-block;
     width: 50%;
     margin-right: 10px;
     
 }
 
 .navbar__dominos .navbar__items__right .sign__in i{
     padding-right: 25px;
     
     
 }
 
 .navbar__dominos .navbar__items__left img{
     width: 80px;
 }
 
    /*......................................Navibar options...................................*/


 .navbar__dominos .navbar__box a{
     color: #ffffff;
     text-decoration: none;
     display: inline-block;
     padding: 25px 5px;
     font-size: 12px;
     font-weight: 800;
 }
 
 .navbar__dominos .navbar__box a:hover{
     background: #02314662;
 }
  
    /*.........................................sections........................................ */


 section{
     width: 70%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 120px auto;
 }
    
    /*..........................................Hero section...................................*/


 .hero__container{
     width: 80%;
     display:flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 10px;
 }
 
 .hero__container .txt__order{
     font-size: 25px;
     font-weight: 600;
     margin-right: 20px;
     color: #006491;
 }
 
 .hero__container .hero__btn{
     padding: 10px 50px;
     background: rgb(227,24,55);
     border-style: none;
     color: #ffffff;
     font-size: 15px;
     font-weight: 500;
     border-radius: 20px;
 }
 
 .hero__container .txt__or{
     color: #888888;
     font-family: cursive;
     font-weight: 600;
     font-size: 25px;
     margin: 0 10px;
 }
 
    /*.......................................Image Container...........................*/


 .image__container__1{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     margin-bottom: 20px;
 }
 
 .image__container__1 .image__1{
     margin-right: 15px;
 }
 
 .image__container__1 .image__down{
     margin-bottom: 10px;
 }
 
 .image__3{
     width: 100%;
 
 }

   /*............................................Delivery Details Block.........................*/


 .delivery__details{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     
 }
 .delivery__details .delivery__info{
     font-size: 25px;
     font-weight: 500;
     margin-right: 10px;
     color: rgb(0,100,145);
 }
 
 .delivery__details .delivery__timings__2{
     background: rgb(0,100,145);
     color: #ffffff;
     font-size: 55px;
     font-weight: 700;
     padding: 0 17px;
     border-radius: 5px;
     line-height: 25px;
     margin-right: 5px;
 }
 
.delivery__details .delivery__timings__7{
     background: rgb(227,24,55);
     color: #ffffff;
     font-size: 55px;
     font-weight: 700;
     padding: 0 17px;
     border-radius: 5px;
     line-height: 25px;
     margin-right: 5px;
 }
 
 .delivery__details .delivery__mins{
     color: rgb(227,24,55);
     font-size: 35px;
 }
 
 
     /*.........................................Footer Block....................................... */


 footer{
     background: #DBDBDB;
     display: flex;
     flex-direction: column;
     margin: 20px auto;
 }

 footer .footer__list{
     padding: 20px 10px;
     width: 70%;
     margin: 20px auto;
 }
 
 footer .footer__list a{
     color: rgb(17, 5, 2);
     font-weight: 700;
     font-size: 12px;
     text-decoration: none;
     border-right: 1px solid#000;
     padding: 5px 10px 5px 15px;
 
 }
 
 footer .social__media{
     display: flex;
     align-items: center;
     width: 70%;
     margin: 20px auto;
 }
 
 footer .social__media img{
     width: 500px;
     margin-left: 40px;
 }
 
 footer .social__media i{
     color: rgb(0,100,145);
     margin-right: 10px;
 }
 
 footer .download__app{
     margin-left: 500px;
 }

 footer .download__text{
    margin-left: 60px;
    font-size: 1.15rem;
 }

 footer .about__txt{
     width: 70%;
     margin: 20px auto;
     color: rgb(92, 102, 94);
     font-size: 11px;
     font-weight: 800;
     line-height: 17px;
     padding: 10px;
 }
 
 footer .about__txt a{
     color: rgb(0,100,145);
     text-decoration: none;
 }
 
 
     /*......................................Media Query........................................... */
 
 
     /*.......................................Mobile View........................................... */


 @media only screen and (max-width: 1200px) {
     
    /*..........................................Navbar.......................................*/


     .navbar__dominos{
         top:0;
     }
 
     .navbar__dominos .navbar__box{
         width: 100%;
    
     }
 
     .navbar__dominos .navbar__box .navbar__items__left{
         width: 50%;
         margin: 0px;
     }
 
     .navbar__dominos .navbar__items__right{
         width: 20%;
 
     }
 
     .navbar__dominos .navbar__box a{
 
         padding: 25px 5px;
     }
    
     /*....................................Sections and Image Container............................*/


     section{
 
         width: 100%;
         margin: 100px auto;
     }

     section .hero__container{
         margin-left: 150px;
     }
 
     .hero__container .txt__order{
         font-size: 20px;
     }
 
     .hero__container .hero__btn{
         padding: 10px 20px;
         border-radius: 20px;
     }
     
     .img__1{
       width: 370px;
       height: 427px;
     }

     .img__2{
       width: 370px;
       height: 427px;
       margin-bottom: 50px;
     }

     .img__3{
       width: 370px;
       height: 427px;
     }

     .img__4{
       width: 600px;
     }

    section .image__container__1{
     flex-direction: column;
     }
 
    section .image__container__1 .image__2{
        
        padding: 25px;
        margin-left: 180px;
     }
 
    section .image__container__1 .image__1{
        
         padding: 25px;
         margin-left: 200px;
     }
 
    section .image__container__1 .image__1{
        width: 100%;
     }
 
    .image__container__1 .image__down{
         margin-bottom: 0px;
         margin-right: 10px;
     }
 
    section .image__3{
        width: 100%;
        padding: 25px;
    }

    section .delivery__details{
        margin-left: 150px;
    }

    /*..........................................Footer...............................................*/
   
    footer{
    width: 600px;
    }

    footer .social__media img{
     width: 350px;
     margin-left: 20px;
    }

     footer .download__app{
        margin-left: 190px;
    }
 
 }
     
 /*..........................................End Of Footer........................................*/